<link href="/craftisite/styles.css" rel="stylesheet">
<link href="/craftisite/src/styles.scss" rel="stylesheet">
<style>
  .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
    display: inline !important;

	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
</style>

<ul id="ul" style="position:absolute;margin-top:23%;margin-left:-35%">
    <li id="li">
      <a id="a" href="#" >
        <h2 id="h">Craft Workshop</h2>
    
        <p id="p1">Check details</p><i class="fa fa-hand-o-right" aria-hidden="true" style="font-size: 50px;"></i>
      </a>
    </li>
</ul>

<div  class=" sidebar bar-block container bg-white padding-6 min-vh-100 force-scroll sticky" style="z-index:3;width:250px;margin-left:17%;padding:10px;">
  <h3 class="w3-wide pt-5" >CRAFTISITE</h3>
<nav class=" navbar navbar-expand-sm  navbar-light padding-64 pt-5" >
<ul class="nav flex-column" style="font-weight:bold;color:black;width:100%;position:relative;">
<li class="navbar-nav ">
  <a class="nav-link " ui-sref="home" >Home <i class="fa fa-home" aria-hidden="true" style="font-size: 24px;"></i></a>
</li>
  <li class="navbar-nav ">
      <a class="nav-link py-2" data-toggle="collapse" data-target="#submenu1" style="cursor: pointer;">Categories  <i class="fa fa-list-alt" aria-hidden="true" style="font-size: 24px;"></i></a>
      <div class="collapse" id="submenu1" aria-expanded="false">
          <ul class="flex-column pl-2 py-2 nav">
              <li class="nav-item"><a class="nav-link py-4" ui-sref="miniatures">Miniatures</a></li>
              <li class="nav-item">
                  <a class="nav-link collapsed py-1" ui-sref="custamised_gifts" data-toggle="collapse" data-target="#submenu1sub1">Customized gifts</a>         
              </li>
              <li class="nav-item"><a class="nav-link py-4" ui-sref="glass_painting">Glass Paintings</a></li>
              <li class="nav-item ">
                <a class="nav-link notification" ui-sref="origami">Origami <span class="badge">Not for sale!!</span></a>
              </li>
          </ul>
      </div>
  </li>

  <li class="navbar-nav ">
    <a class="nav-link " ui-sref="workshop">Learn with Us!</a>
  </li>
  


    <li class="navbar-nav ">
    <a class="nav-link" ui-sref="cart" >Cart <i class="fa fa-shopping-cart " aria-hidden="true" style="font-size: 24px;"></i></a> 
     </li>
     <li class="navbar-nav ">
    <a class="nav-link"  ui-sref="register" >Sign In! <i class="fa fa-sign-in" aria-hidden="true" style="font-size: 24px;"></i></a>
     </li>

  <li class="navbar-nav">
    <a class="nav-link " href="#">My profile <i class="fa fa-user" aria-hidden="true" style="font-size: 24px;"></i></a>
  </li>
  <li class="navbar-nav">
      <a class="nav-link" href="#">Order Details <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 24px;"></i></a>
    </li>
    <li class="navbar-nav ">
      <a class="nav-link" href="#">Log Out <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 24px;"></i></a>
    </li>
</ul>


</nav>
</div>
  
          <div class="col-sm-8 col-md-11" style="margin-left:26%;margin-top:5%;padding:1px 16px;width:900px;" ng-controller="CartAppController as cart" >
            <marquee><h2>Your Cart</h2></marquee>
           
            <hr class="hr1">
            <section class="container" style="max-width: 900px;margin-left:-3%">

                <table id="cart" class="table table-hover table-condensed">
                          <thead>
                          <tr>
                            <th style="width:40%">Product</th>
                            <th style="width:5%">Price</th>
                            <th style="width:4%">Quantity</th>
                            <th style="width:18%" class="text-center">Subtotal</th>
                            <th style="width:5%"></th>
                          </tr>
                        </thead>
                        <td><h3 ng-if="cart.cartitem.length===0" >Cart Empty</h3></td> 
                        <tbody>
                        
                          <tr ng-repeat="item in cart.cartitem">
                         
                            <td data-th="Product">
                              <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="{{item.Image}}" alt="..." class="img-responsive"/></div>
                                <div class="col-sm-10">
                                  <h4 class="nomargin">{{item.Name}}</h4>
                                  <p>{{item.Description}}</p>
                                </div>
                              </div>
                            </td>
                            <td data-th="Price">{{item.Price | currency: "Rs "}}</td>
                            <td data-th="Quantity" >
                              <input type="number" ng-model="item.Quantity"  class="form-control text-center" value="1" min="1">
                            </td>
                            <td data-th="Subtotal" class="text-center">{{item.Price*item.Quantity}}</td>
                            <td data-th="">
                           
                              <button class="btn btn-danger btn-sm" ng-click="cart.removeItem($index)"><i class="fa fa-trash-o" ></i></button>								
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="visible-xs">
                            <td class="text-center"><strong>Total 0</strong></td>
                          </tr>
                          <tr>
                            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total {{cart.getPrice | currency: "Rs "}}</strong></td>
                            <td><a ui-sref="checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                          </tr>
                        </tfoot>
                      </table>

            </section>
        </div>
    
        <div class="footer"> 
          <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer" style="margin-left:25%;padding:1px 16px;width:900px;position:relative" >
              <div class="w3-row-padding">
         
                <div class="w3-col s4">
                  <h4><b>Let's be Friends</b></h4>
                  <i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 35px;"></i>
                  <i class="fa fa-instagram" aria-hidden="true" style="font-size: 35px;"></i>
                  <i class="fa fa-youtube-play" aria-hidden="true" style="font-size: 35px;"></i>
                </div>
  
                <div class="w3-col s4 w3-justify">
                  <h4><b>Explore our Product Range</b></h4>
                  <p><a ui-sref="miniatures">Miniatures</a></p>
                  <p><a ui-sref="custamised_gifts">Customized gifts</a></p>
                  <p><a ui-sref="glass_painting">Glass Paintings</a></p>
                  <p><a ui-sref="origami">Origami</a></p>
                  <p><a ui-sref="workshop">Learn with Us!</a></p>
               
                 
                </div>
  
   
          
                <div class="w3-col s4 w3-justify w3-right">
                  <h4><b>Get In Touch</b></h4>
                  <p>Mon-Sat: 9AM - 6PM IST</p>
                  <p><i class="fa fa-phone" aria-hidden="true"></i><b>Call/WhatsApp</b></p>
                  <p>9084672512</p>
                  <p><i class="fa fa-envelope" aria-hidden="true"></i><b>Email</b></p>
                  <p>ourcraftisite@gmail.com</p>
                  <br>
          
                </div>
              </div>
            </footer>
          </div>

          <script>
      

            
document.getElementById("scroll-to-bottom").addEventListener("click", function () {
  document.body.scrollIntoView(false);
});
          </script>